<div class="page-header">
  <h3>Dish Detail #<%= @dish_detail.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Dish</dt>
      <dd><%= @dish_detail.dish %></dd>

      <dt>Category</dt>
      <dd><%= @dish_detail.category_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/dish_details" class="btn btn-primary">
        Back
      </a>
      <a href="/dish_details/<%= @dish_detail.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_dish_detail/<%= @dish_detail.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Dish detail has many best_dishes -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Best Dishes
      </li>

      <% @dish_detail.best_dishes.each do |dish| %>
        <li class="list-group-item">
          <a href="/dishes/<%= dish.id %>">
            <%= dish.created_at %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/dishes/<%= dish.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/dishes/<%= dish.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_dish/<%= dish.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_dish" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for dish_details_id -->
      <div class="form-group">
        <label for="dish_details_id" class="control-label">
          Dish details
        </label>

        <%= select_tag(:dish_details_id, options_from_collection_for_select(DishDetail.all, :id, :dish), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create Dish
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
