<div class="page-header">
  <h3>Venues Detail #<%= @venues_detail.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Dish</dt>
      <dd><%= @venues_detail.dish_id %></dd>

      <dt>Venue</dt>
      <dd>
        <% if @venues_detail.venue.present? %>
          <a href="/venues/<%= @venues_detail.venue_id %>">
            <%= @venues_detail.venue.restaurant_name %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/venues_details" class="btn btn-primary">
        Back
      </a>
      <a href="/venues_details/<%= @venues_detail.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_venues_detail/<%= @venues_detail.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
