<div class="page-header">
  <h3>Food Category #<%= @food_category.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Category name</dt>
      <dd><%= @food_category.category_name %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/food_categories" class="btn btn-primary">
        Back
      </a>
      <a href="/food_categories/<%= @food_category.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_food_category/<%= @food_category.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Food category has many dishes -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Dishes
      </li>

      <% @food_category.dishes.each do |dish_detail| %>
        <li class="list-group-item">
          <a href="/dish_details/<%= dish_detail.id %>">
            <%= dish_detail.dish %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/dish_details/<%= dish_detail.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/dish_details/<%= dish_detail.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_dish_detail/<%= dish_detail.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_dish_detail" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for dish -->
      <div class="form-group">
        <label for="dish" class="control-label">
          Dish
        </label>

        <input type="text" id="dish" name="dish" placeholder="Dish" class="form-control" value="">
      </div>

      <!-- Label and input for category_id -->
      <div class="form-group">
        <label for="category_id" class="control-label">
          Category
        </label>

        <%= select_tag(:category_id, options_from_collection_for_select(FoodCategory.all, :id, :category_name), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create Dish Detail
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
